.search-page {

    .content-header {
        text-align: center;

        h1 {
            letter-spacing: 2px;
            font-family: Tahoma;
            font-size: 32px;
            font-weight: 100;
        }
    }

    .content {
        height: 70%;
        padding: 20px;

        .btn-strip {
            text-align: center;
        }
    }
}
