.home-page {
  font-size: 115px; }
  .home-page .page-header {
    font-weight: bold; }

.home-page {
  font-size: 115px; }
  .home-page .page-header {
    font-weight: bold; }

.home-page {
  font-size: 115px; }
  .home-page .page-header {
    font-weight: bold; }
