.header {
    top: 0;
    left: 0;
    position: absolute;
    height: 75px;
    padding: 5px;
    width: 100%;
    background-color: #E55049;

    .main-menu-icon {
        padding: 10px;
        float:left;
    }

    .logo {
        float:left;
        padding: 10px;
        
        img {
            display: block;
            height: 40px;
        }
    }
}
