.header {
    top: 0;
    left: 0;
    position: absolute;
    height: 75px;
    padding: 5px;
    width: 100%;
    background-color: #E55049;
    z-index: 2;

    .dropdown-menu {

        .menu-item {

            &:hover, &.active {
                background-color: #e4dcdc;
                border-radius: 5px;
            }
        }

        .divider {
            margin: 0;
        }
    }

    .main-menu-icon {
        padding: 10px;
        float: left;
    }

    .logo {
        float: left;
        padding: 10px;

        img {
            display: block;
            height: 40px;
        }
    }

    .login-button {
        padding-top: 18px;

        .label {
            font-family: Tahoma;
            font-size: 18px;
            font-weight: 100;
            color: #fff;
            text-decoration: none;
        }
    }
}
