<div ng-if="loaded" id="pageContent" class="offer-page">

    <div ng-show="step === 1">
        <div class="content-header"> Add info about your ride</div>
        <div class="app-input-box">
            <p>Choose a date</p>
            <input type="text" uib-datepicker-popup is-open="datepickerOpened" ng-click="datepickerOpened = !datepickerOpened" ng-model="birthDate" ng-required="true" />
        </div>

        <div class="app-input-box">
            <p>Choose a time</p>
            <div uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="1" minute-step="1" />
        </div>

        <div ng-if="cars && cars.length !== 0" class="app-input-box">
            <p>Pick you car</p>
            <input uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" />
        </div>
        <div class="btn-strip">
            <div>
                <button class="btn btn-app" ng-click="goToStep2()">
                    Next <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div ng-show="step === 2">
        <div class="content-header"> Add points to route</div>
        <div class="content">
            buttons + and -
            <div class="col-xs-offset-2 col-xs-6 app-input-box">
                <p>Place</p>
                <input type="text" ng-model="routePoint.place" uib-typeahead="name for point in points | filter:$viewValue | limitTo:5">
            </div>
            <div class="col-xs-offset-2 col-xs-2 app-input-box">
                <p>Price</p>
                <input type="text" ng-model="routePoint.price" >
            </div>
            <div class="btn-strip">
                <div>
                    <button class="btn btn-app" ng-click="goToStep3()">
                        Next <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div ng-show="step === 3">
        <div class="content-header"> Check all before publishing </div>
        <div class="content">

            ALL INFO

            <div class="btn-strip">
                <div>
                    <button class="btn btn-app" ng-click="goToStep4()">
                        Publish
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="step === 4">
        <div class="content-header"> What now? </div>
        <div class="content">

            <p> Now wait for passengers make ride requests and approw it under My Rides tab</p>
        </div>
        
    </div>


</div>

<div ng-if="!loaded" class="preloader">
    <object type="image/svg+xml"
            data="assets/preloader.svg">
    </object>
</div>