@import "home/_home.scss";
@import "header/_header.scss";
@import  "menu/_menu.scss";
@import "default.scss";
@import "login/_login.scss";
@import "profile/_profile.scss";
@import "register/_register.scss";
@import "search/_search.scss";
@import "searchresults/_searchresults.scss";

html, body, [ng-view] {
    height: 100%;
    overflow-x: hidden;
    background-color: #EBEBEB;
    font-family: Tahoma;
}

.empty-modal {

    .modal-content {
        background: none;
        border: none;
        box-shadow: none;
    }
}

#pageContent {
    background: #FFF;
    padding-top: 75px !important;
    height: 100%;
}

.inline-block {
    display: inline-block;
}

.btn {

    &.btn-app {
        height: 40px;
        border: none;
        width: 200px;
        border-radius: 30px;
        background: linear-gradient(to bottom left, #E55049, #E57F49);
        color: #fff;
        transition: none;
        cursor: pointer;
        outline: none !important;

        &:hover {
            color: black;
            background-color: #E57F49;
        }

        &:active {
            color: #fff;
            background-color: #E57F49;
        }
    }
}

.preloader {
    text-align: center;
    padding-top: 33%;
}


.icon-button {
    outline:none;
    background-color: rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 100%;
    transition: background-color ease-in-out 0.2s;
    
    &:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }

    i {
        opacity: 1;
    }

    transition: opacity ease-in-out 0.2s;
}

.app-text-box {
    border-radius: 33px;
    border: 2px #c3c3c3 solid;
    margin: 10px;
    overflow: hidden;
    padding: 5px;
    
    input {
        font-size: 18px;
        border: none;
        background: transparent;
        width: 100%;
        padding: 0 25px;
        outline: none;
        margin-bottom: 5px;
        border-radius: 20px;
    }


    p {
        margin: 0;
        margin-top: 10px;
        margin-left: 25px;
        width: 100%;
        font-size: 16px;
        font-family: Tahoma;
        color: #c3c3c3;
    }
}

.app-input-box {
    border-bottom: 2px #c3c3c3 solid;
    margin: 10px;
    text-align: left;

    input {
        box-shadow: none;
        font-size: 18px;
        border: none;
        background: transparent;
        width: 100%;
        padding: 0 25px;
        outline: none;
        margin-bottom: 5px;
        border-radius: 20px;
    }

    p {
        color: #c3c3c3;
        margin-top: 10px;
        margin-left: 20px;
        width: 100%;
        font-size: 16px;
        font-family: Tahoma;
    }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}