@import "home/_home.scss";
@import "header/_header.scss";
@import  "menu/_menu.scss";
@import "default.scss";


html, body, [ng-view] {
    height: 100%;
    overflow-x: hidden;
    background-color: #EBEBEB;
    font-family: Tahoma;
}

#pageContent {
    padding-top: 75px !important;
    height: 100%;
}

.inline-block {
    display: inline-block;
}

.btn {

    &.btn-app {

        height: 40px;
        border: none;
        width: 200px;
        border-radius: 30px;
        background: linear-gradient(to bottom left, #E55049, #E57F49);
        color: #fff;
        transition: none;
        cursor: pointer;
        outline: none !important;

        &:hover {
            color: black;
        }

        &:active {
            color: #fff;
        }
    }
}


.icon-button {
    outline:none;
    background-color: rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 100%;
    transition: background-color ease-in-out 0.2s;
    
    &:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }

    i {
        opacity: 1;
    }

    transition: opacity ease-in-out 0.2s;
}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}