<div class="register-page" id="pageContent">
    <div ng-show="step === 1"  class="col-xs-12 col-sm-6 left-block padding-top-10">
        <div class="register-header">
            <h1>Say <span class="red-text">NO!</span> to overcrowded buses!</h1>
            <h1>Join <span class="red-text">PickMeUp</span> </h1>
            <p> Come on, it's free </p>
        </div>
        <div ng-show="step === 1" class="register-form">
            <div class="app-input-box">
                <p> Login </p>
                <input type="text" ng-model="username" ng-change="onModelChange()"/>
            </div>
            <div class="app-input-box">
                <p> Password </p>
                <input type="password" replace="." ng-model="password" ng-change="onModelChange()"/>
            </div>
            <div class="app-input-box">
                <p> Repeat password </p>
                <input type="password" replace="." ng-model="repeatPassword" ng-change="onModelChange()"/>
            </div>
            <div class="btn-strip">
                <div>
                    <button class="btn btn-app" ng-click="goToStep2()">
                        Next <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>
            <div ng-if="error" class="margin-top-20 alert alert-danger">
                <strong>{{error}}</strong>
            </div>
        </div>
    </div>
    <div ng-show="step === 2" class="col-xs-12 col-sm-6 left-block padding-top-10">
        <div class="register-header">
            <h1>Just some info about you</h1>
            <p> Our users want to know whom they travel with </p>
        </div>
        <div class="register-form">
            <div class="app-input-box">
                <p> Full name </p>
                <input type="text" name="" ng-model="fullName" ng-change="onModelChange()">
            </div>
            <div class="app-input-box">
                <p> Birth date </p>
                <input type="text" uib-datepicker-popup is-open="datepickerOpened" ng-click="datepickerOpened = !datepickerOpened" ng-model="birthDate" ng-required="true" />
            </div>
            <div class="app-input-box">
                <p> Phone number </p>
                <input type="text" name="" ng-model="phone" ng-change="onModelChange()">
            </div>
            <div class="btn-strip">
                <div>
                    <button class="btn btn-app" ng-click="goToStep3()">
                        Finish
                    </button>
                </div>
            </div>
            <div ng-if="error" class="alert alert-danger">
                <strong>{{error}}</strong>
            </div>
        </div>
    </div>
    <div class="photo hidden-xs col-sm-6">
        <div></div>
    </div>
</div>