.home-page {

    .pictureSection {
        background: url('/assets/images/fon/bgFon1.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: hidden;
        padding-top: 20vh;
    }

    .section {
        min-height: 100%;
        width: 100%;
        background-color: #FFF;
        margin: auto;
    }

    .textLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-weight: normal;
        flex-grow: 4;
    }

    .textLogo > h1 {
        font-family: Tahoma;
        letter-spacing: 2px;
        font-size: 2.6em;
        font-weight: 100;
        color: #fff;
        text-align: center;
    }

    .textLogo > h1 > span {
        color: #E55049;
        font-weight: 1000;
        font-family: Comic Sans MS;
    }

    .roundButton {
        width: 50px;
        height: 50px;
        background: #E54E49;
        border-radius: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        border: none;
        justify-content: center;
        outline: none;
    }


    .info-section {

        .row {
            padding: 30px 20px;
        }

        img {
            max-width: 80%;
            width: auto;
            height: auto;
            max-height: 330px;
            min-height: 200px;
        }

        .btnContainer {
            text-align: center;
        }
    }


    .navigation {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;

        h4 {
            font-family: Tahoma;
            font-size: 1.2em;
            font-weight: 900;
            color: #FFF;
        }

        button {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            cursor: pointer;
        }

        .explanation {
            background-color: #FFF;
            height: 350px;
            border-bottom: 3px solid #EBEBEB;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    h1 {
        font-family: Tahoma;
        font-size: 2em;
        color: #000000;
        font-weight: 700;
    }

    .element {
        min-width: 150px;
    }

    p {
        font-family: Tahoma;
        font-size: 1.1em;
        font-weight: 500;
        color: #000;
    }

    .textParagraph {
        font-size: 1.2em;
        font-family: Tahoma;
        color: #757575;
        width: 80%;
    }

    .sectionParagraph {
        font-size: 1.2em;
        font-family: Tahoma;
        color: #757575;
        padding-right: 10%;
    }
}
