<div ng-if="user && user.token" class="header">
    <div class="main-menu-icon inline-block padding-10">
        <button class="icon-button" ng-click="toggleMenu()">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <div class="logo inline-block">
        <a href="#!/home">
            <img src="/assets/images/logo/textlogo.png" alt="">
        </a>
    </div>
    <div uib-dropdown class="main-menu-icon inline-block pull-right padding-10">
        <button class="icon-button" uib-dropdown-toggle>
            <i class="fas fa-user"></i>
        </button>
        <ul uib-dropdown-menu class="dropdown-menu padding-5 margin-0">
            <li class="padding-5 menu-item pointer" ng-click="openProfile()">
                Profile
            </li>
            <li class="divider"></li>
            <li class="padding-5 menu-item pointer" ng-click="logout()">
                <i class="fas fa-sign-out-alt"></i> Logout
            </li>
        </ul>
    </div>
</div>

<div ng-if="!user || !user.token" class="header">
    <div class="logo inline-block">
        <a href="#!/home">
            <img src="/assets/images/logo/textlogo.png" alt="">
        </a>
    </div>
    <div class="login-button padding-right-0 pull-right inline-block">
        <a class="label pointer" href="#!/login">
            Login
        </a>
    </div>
    <div class="login-button pull-right inline-block">
        <a class="label pointer" href="#!/register">
           Register
        </a>
    </div>
</div>


<div ng-class="{'open': menuOpened}" class="menu" id="MainMenu">
    <div class="menu-item" ng-click="goTo('search')">
        <span>Search</span>
        <button class="icon-button pull-right"><i class="fas fa-arrow-right"></i></button>
    </div>
    <div class="menu-item" ng-click="goTo('offer')">
        <span>Offer</span>
        <button class="icon-button pull-right"><i class="fas fa-arrow-right"></i></button>
    </div>
    <div class="menu-item" ng-click="goTo('ride')">
        <span>My rides</span>
        <button class="icon-button pull-right"><i class="fas fa-arrow-right"></i></button>
    </div>
    <div class="menu-item" ng-click="goTo('request')">
        <span>My requests</span>
        <button class="icon-button pull-right"><i class="fas fa-arrow-right"></i></button>
    </div>
</div>