.menu {
    top: 75px;
    left: -200px;
    z-index: 3;
    overflow-y: auto;
    height: calc(100% - 75px);
    width: 200px;
    background: #FFF;
    border: 2px solid;
    position: absolute;
    -webkit-transition: all 0.3s ease-out;

    &.open {
        left: 0px;
    }

    .menu-item {
        height: 40px;
        padding: 5px;

        &:hover {
            background: #e4dcdc;
        }
    }
}
