<div ng-if="loaded" id="pageContent" class="profile-page">
    <div class="content-header">
        select date, time, start and end points
    </div>
    <div class="content">
        <div class="app-input-box">
            <p>Choose a date</p>
            <input type="text" uib-datepicker-popup is-open="datepickerOpened" ng-click="datepickerOpened = !datepickerOpened" ng-model="birthDate" ng-required="true" />
        </div>

        <div class="app-input-box">
            <p>Choose a time</p>
            <div uib-timepicker ng-model="mytime" hour-step="1" minute-step="1" />
        </div>

        <div class="col-xs-offset-2 col-xs-6 app-input-box">
            <p> Start: </p>
            <input type="text" ng-model="startPoint.place" uib-typeahead="name for point in points | filter:$viewValue | limitTo:5">
        </div>

        <div class="col-xs-offset-2 col-xs-6 app-input-box">
            <p> End: </p>
            <input type="text" ng-model="endPoint.place" uib-typeahead="name for point in points | filter:$viewValue | limitTo:5">
        </div>
        <div class="btn-strip">
            <div>
                <button class="btn btn-app" ng-click="search()">
                    Search  <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>

</div>

<div ng-if="!loaded" class="preloader">
    <object type="image/svg+xml"
            data="assets/preloader.svg">
    </object>
</div>